<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fruit.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @fruit.rate %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @fruit.weight %>
</p>

<p>
  <strong>Weightin:</strong>
  <%= @fruit.weightin %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fruit.quantity %>
</p>

<%= link_to 'Edit', edit_fruit_path(@fruit) %> |
<%= link_to 'Back', fruits_path %>
