<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.Status %>
</p>

<p>
  <strong>Buyername:</strong>
  <%= @order.Buyername %>
</p>

<p>
  <strong>Buyernumber:</strong>
  <%= @order.Buyernumber %>
</p>

<p>
  <strong>Buyeraddress:</strong>
  <%= @order.Buyeraddress %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @order.cart %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
