<% total =0 %>
<%total_item = 0%>
<br><br>
<H1>Review Order</H1>
<br><br><div class="finalcart">
	<% if current_user%>

	<table><thead><th>Item name</th><th>Quantity</th><th>Amount</th></thead>

      <% @cartsitems.where(cart_id: @cart.id , user_id: current_user.id).each do |c| %>
	      
	        <tr>
			    <td><%= c.item %></td><td><%= c.weight %><%= c.weightin %> X   <%=c.quantity %></td><td>Rs. <%= c.amount%></td>
			     <%total = total+c.amount %><% total_item = total_item + c.quantity%>
			</tr>
	 
      <%end%>
      <tfoot><tr class="beforeorder"><td></td><td class="beforeorder"><%=total_item%> Items</td><td class="beforeorder">Rs. <%=total%></td></tr></tfoot>
     </table>
    <%end%>
</div>

<div class="personalinfo">
	<%= form_for @order do |f| %>
	Name: <div class="info"><%= f.text_area :Buyername %><br></div>
	Mobile Number: <div class="info"><%= f.text_area :Buyernumber %><br></div>
	Address: <div class="info"><%= f.text_area :Buyeraddress %></div><br>

	<div class="confirmorder">
		<%= f.submit class: 'order_submit' %>
	</div>
	<% end -%>
</div>
