

<% @curr_orders.each do |order| %>
	<%total =0%>
	<%total_quantity=0%>
	
	<section class="orderplaced">
		<div class="details">
			Name : <%= order.Buyername %><br>
			Number : <%= order.Buyernumber %><br>
			Address : <%= order.Buyeraddress %><br>
			Made at : <%= order.created_at.strftime("%H:%M----%d.%m.%Y")%><br>
		</div>
		<div class="finalitems">
			<table>
				<thead>
					<th>Item</th>
					<th>Quantity</th>
					<th>Amount</th>
					<th></th>
				</thead><tbody>
			<% @cartsitems.where(cart_id: order.cart_id).each do |item| %>
				<tr>
					<td><%= item.item %></td>
					<td><%= item.weight %><%=item.weightin %> X <%= item.quantity %></td>
					<td><%= item.amount %></td>
					<td><%=check_box_tag 'item'%></td>
				</tr>
				<%total = total+item.amount %><% total_quantity = total_quantity + item.quantity%>
			<%end%>
			</tbody>
			</table>
			<div class="total">
				Total item: <%=total_quantity%><br>
				Total Amount: <%=total%>
			</div>
		</div>
		<%= button_to "Delivered" , action: "delivered" , params: {id: order.id}, :method=> "post"%>
	</section>
	
<%end%>


<% @delivered_orders.each do |order| %>
	<%total =0%>
	<%total_quantity=0%>
	
		<section class="orderdelivered">
		<div class="details">
			Name : <%= order.Buyername %><br>
			Number : <%= order.Buyernumber %><br>
			Address : <%= order.Buyeraddress %><br>
			Made at : <%= order.created_at.strftime("%H:%M----%d.%m.%Y")%><br>
		</div>
		<div class="finalitems">
			<table>
				<thead>
					<th>Item</th>
					<th>Quantity</th>
					<th>Amount</th>
					<th></th>
				</thead><tbody>
			<% @cartsitems.where(cart_id: order.cart_id).each do |item| %>
				<tr>
					<td><%= item.item %></td>
					<td><%= item.quantity %></td>
					<td><%= item.amount %></td>
					<td><%=check_box_tag 'item'%></td>
				</tr>
				<%total = total+item.amount %><% total_quantity = total_quantity + item.quantity%>
			<%end%>
			</tbody>
			</table>
			<div class="total">
				Total item: <%=total_quantity%><br>
				Total Amount: <%=total%>
			</div>
		</div>
		<%=button_to "UnDelivered" , action:
 		"undelivered" , params: { id: order.id } , :method => "post" %>
	</section>

	
<%end%>
		
		